<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>869845044371-ej6opshcfob13ahteohgb16tviogn7rd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.869845044371-ej6opshcfob13ahteohgb16tviogn7rd</string>
	<key>API_KEY</key>
	<string>AIzaSyB1V1PQJQrORvZsxihipJ3cNEhXsbhv6dI</string>
	<key>GCM_SENDER_ID</key>
	<string>869845044371</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.traineepath.traineePath</string>
	<key>PROJECT_ID</key>
	<string>traineepath-101fd</string>
	<key>STORAGE_BUCKET</key>
	<string>traineepath-101fd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:869845044371:ios:74c10dc778569940e69166</string>
	<key>DATABASE_URL</key>
	<string>https://traineepath-101fd-default-rtdb.firebaseio.com</string>
</dict>
</plist>